In [95]:
from faker import Faker
import pandas as pd
import numpy as np
import random
import datetime
import time
import uuid
import pytz

In [96]:
# Print Column Names
hca_google_fence = pd.read_csv('datasets/hca_google_fence.csv')
for column in hca_google_fence.columns:
    print(column)
hca_google_fence['visit_count']

id
restaurant_name
restaurant_id
user_id
latitude
longitude
visit_count
last_visit

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: visit_count, dtype: int64

In [97]:
ids=[]
restaurant_name=[]
restaurant_id=[]
user_id=[]
latitude=[]
longitude=[]
visit_count=[]
last_visit=[]

In [98]:
fake = Faker()
len(ids)

0

In [99]:
for i in range(100):
    ids.append(str(i))

for i in range(100):
    restaurant_name.append(fake.company())

for i in range(100):
    restaurant_id.append(fake.md5())

for _ in range(100):
    uid = random.choice(['U100000', 'U100001', 'U100002', 'U100003', 'U100004', 'U100005', 'U100006', 'U100007', 'U100008', 'U100009', 'U100010', 'U100011', 'U100012', 'U100013', 'U100014', 'U100015', 'U100016', 'U100017', 'U100018', 'U100019', 'U100020', 'U100021', 'U100022', 'U100023', 'U100024', 'U100025', 'U100026', 'U100027', 'U100028', 'U100029', 'U100030', 'U100031', 'U100032', 'U100033', 'U100034', 'U100035', 'U100036', 'U100037', 'U100038', 'U100039', 'U100040', 'U100041', 'U100042', 'U100043', 'U100044', 'U100045', 'U100046', 'U100047', 'U100048', 'U100049', 'U100050', 'U100051', 'U100052', 'U100053', 'U100054', 'U100055', 'U100056', 'U100057', 'U100058', 'U100059', 'U100060', 'U100061', 'U100062', 'U100063', 'U100064', 'U100065', 'U100066', 'U100067', 'U100068', 'U100069', 'U100070', 'U100071', 'U100072', 'U100073', 'U100074', 'U100075', 'U100076', 'U100077', 'U100078', 'U100079', 'U100080', 'U100081', 'U100082', 'U100083', 'U100084', 'U100085', 'U100086', 'U100087', 'U100088'])
    user_id.append(uid)

for _ in range(100):
    latitude.append(fake.latitude())
    
for _ in range(100):
    longitude.append(fake.longitude())

for i in range(100):
    vc = random.randint(1, 10)
    visit_count.append(vc)

for i in range(100):
    last_visit.append(fake.unix_time())

In [100]:
Restaurants_dictionary = {
    'id': ids,
    'restaurant_name': restaurant_name,
    'restaurant_id': restaurant_id,
    'user_id': user_id,
    'latitude': latitude,
    'longitude': longitude,
    'visit_count': visit_count,
    'last_visit': last_visit,
}

In [101]:
restaurants_df = pd.DataFrame(Restaurants_dictionary)

In [102]:
restaurants_df.head()

,id,restaurant_name,restaurant_id,user_id,latitude,longitude,visit_count,last_visit
0,0,Chen LLC,de51e8ce9fd13ad726b9359be14ad1cf,U100086,52.3668145,-157.572399,1,1.697986e+09
1,1,"Dean, Castaneda and French",ad1f618338e6904bb9f96f9830c1d8ef,U100024,68.1042905,-67.750761,8,1.249302e+09
2,2,"White, Burke and Welch",c2d6dc25ea072b27ae98e31401da8cd1,U100023,66.025216,-103.782674,8,6.314939e+08
3,3,Harris LLC,58de555a6fa6cd7644eead6fc68ab88f,U100049,-21.393199,82.677686,5,1.413664e+09
4,4,"Wilson, Barnes and Robinson",4c6be2be62d01529cd6b99e62458b1a0,U100081,78.0228035,79.693941,7,1.476040e+09

In [103]:
restaurants_df.to_csv('datasets/Fake_datasets/hca_google_fence.csv', index=False)