In [42]:
from faker import Faker
import pandas as pd
import random
import pytz

In [43]:
# Print Column Names
hca_users = pd.read_csv('datasets/hca_users.csv')
for column in hca_users.columns:
    print(column)

,trainer_code,user_code,full_name,gender,birth_date,email_id,phone_number,user_points,password,terms_and_conditions,...,last_access_time,last_freshwork_updated,seo_abt_urself,postal_code,slug,total_transformed,social_links,created_on,updated_on,deleted_on
id,,,,,,,,,,,,,,,,,,,,,
5,T0000000005,U0000000005,Ruchika Gupta,female,387612000.0,ruchikaaguppta@gmail.com,8.183975e+09,20200,5dc02d99c613fbdf285c79eca923541b3693af75,1,...,2023-12-23 23:43:14,NaN,NaN,0,ruchikaaguppta-gmail,NaN,NaN,1569429070,1.703375e+09,NaN
6,T0000000006,NaN,Ramanpreet Kaur,female,809305200.0,rpkaur12@gmail.com,4.473809e+11,0,3160a208a174bf57a9e8126706c7fd1d61690516,1,...,NaN,NaN,NaN,0,weightmanagement-,NaN,NaN,1569437949,1.609242e+09,NaN
7,T0000000007,U0000000007,Gaurav Agarwal,male,412063200.0,gauravgrwl@gmail.com,8.186413e+09,1628,5dc02d99c613fbdf285c79eca923541b3693af75,1,...,2023-12-25 02:40:14,NaN,hi,0,weightmanagement-,NaN,NaN,1569444568,1.703472e+09,NaN
41,NaN,NaN,NaN,male,400939645.0,subalm@gmail.com,NaN,10,2792e802a23e625d08499346c71141872b19473b,1,...,NaN,NaN,NaN,0,subalm-gmail,NaN,NaN,1574942917,1.575002e+09,NaN
44,T0000000044,U0000000044,Amar,male,412063200.0,gaurav@healthclickaway.com,8.186413e+09,574,ceb281c46e6d22c2f06d3ade69c91ae18f4bded4,1,...,2023-08-19 03:59:58,NaN,NaN,0,usa-houston-amar,NaN,NaN,1575264831,1.692418e+09,NaN

In [44]:
ids=[]
trainer_code=[]
user_code=[]
full_name=[]
gender=[]
birth_date=[]
email_id=[]
phone_number=[]
user_points=[]
password=[]
terms_and_conditions=[]
user_height=[]
user_weight=[]
target_weight=[]
weight_changed_on=[]
height_changed_on=[]
frequently_exercise=[]
food_mostly_eaten_at=[]
cuisine_ids=[]
spent_on_meal=[]
diet_plan=[]
default_diet_plan=[]
medical_condition_ids=[]
allergic_condition_ids=[]
is_profile_completed=[]
profile_image=[]
social_profile_image=[]
user_location=[]
forgot_token=[]
forgot_token_checked_on=[]
email_verified_token=[]
trainer_email_verified_token=[]
is_email_verified=[]
is_trainer_email_verified=[]
is_verified=[]
is_phone_verified=[]
is_active=[]
is_active_trainer=[]
is_certified=[]
is_trainer=[]
is_experience_completed=[]
is_user=[]
time_zone=[]
user_in_app_purchase=[]
trainer_in_app_purchase=[]
is_deleted=[]
sub_status=[]
unsub_reason=[]
stripe_customer_key=[]
stripe_account_id=[]
is_dietitian=[]
is_online_plan=[]
facebook_id=[]
instagram_id=[]
google_account_id=[]
apple_account_id=[]
country_code=[]
is_visible=[]
is_subscription_free=[]
connected_acc_status=[]
firebase_auth_id=[]
app_fee_per=[]
latitude=[]
longitude=[]
trainer_created_date=[]
entry_in_freshwork=[]
freshwork_id=[]
city=[]
last_access_time=[]
last_freshwork_updated=[]
seo_abt_urself=[]
postal_code=[]
slug=[]
total_transformed=[]
social_links=[]
created_on=[]
updated_on=[]
deleted_on=[]

In [45]:
fake = Faker()

In [46]:
for i in range(100):
    ids.append(str(i))

for i in range(100000,100100):
    trainer_code.append("T"+str(i))

for i in range(100000,100100):
    user_code.append("U"+str(i))

for _ in range(60):
    full_name.append(fake.name_female())
    gender.append("female")

for _ in range(40):
    full_name.append(fake.name_male())
    gender.append("male")

for _ in range(100):
    date_time_dob = fake.date_of_birth().timetuple()
    birth_date.append(date_time_dob)

for _ in range(100):
    email_id.append(fake.email())

for _ in range(100):
    phone_number.append(fake.phone_number())

for _ in range(100):
    point = random.randint(0, 25000)
    user_points.append(str(point))

for _ in range(100):
    pw = random.randint(10000, 99000)
    password.append(str(pw))

for _ in range(100):
    terms = random.randint(0, 1)
    terms_and_conditions.append(str(terms))

for _ in range(100):
    height = random.randint(56, 80)
    user_height.append(str(height))

for _ in range(100):
    weight = random.randint(40, 150)
    user_weight.append(str(weight))

for _ in range(100):
    weight = random.randint(50, 120)
    target_weight.append(str(weight))

for i in range(100):
    height_changed_on.append(fake.unix_time())

for i in range(100):
    weight_changed_on.append(fake.unix_time())

for _ in range(100):
    fe = random.choice(["do_not", "1_3_days"])
    frequently_exercise.append(fe)

for _ in range(100):
    location = random.choice(["Home", "Restaurant"])
    food_mostly_eaten_at.append(location)

for _ in range(100):
    ci = random.randint(10, 500)
    cuisine_ids.append(str(ci))

for _ in range(100):
    meal = random.choice(["$5-$9.99", "Less than $5"])
    spent_on_meal.append(meal)

for _ in range(100):
    d_plan = random.randint(1, 4)
    diet_plan.append(str(d_plan))

for _ in range(100):
    dd_plan = random.randint(0, 1800)
    default_diet_plan.append(str(dd_plan))

for _ in range(100):
    mci = random.choice(["1", "0"])
    medical_condition_ids.append(mci)

for _ in range(100):
    aci = random.randint(1, 3)
    allergic_condition_ids.append(aci)

for _ in range(100):
    comp = random.randint(0, 1)
    is_profile_completed.append(str(comp))

for _ in range(100):
    profile_image.append(fake.image_url())

for _ in range(100):
    social_profile_image.append(fake.image_url())

for _ in range(100):
    tz = random.choice(pytz.all_timezones)
    user_location.append(tz)

for _ in range(100):
    ft = random.randint(0, 1)
    forgot_token.append(str(ft))

for _ in range(100):
    ftc = random.randint(0, 1)
    forgot_token_checked_on.append(str(ftc))

for _ in range(100):
    email_verified_token.append(fake.uuid4())

for _ in range(100):
    trainer_email_verified_token.append(fake.uuid4())

for _ in range(100):
    ev = random.randint(0, 1)
    is_email_verified.append(str(ev))

for _ in range(100):
    ev = random.randint(0, 1)
    is_trainer_email_verified.append(str(ev))

for _ in range(100):
    v = random.randint(0, 1)
    is_verified.append(str(v))

for _ in range(100):
    pv = random.randint(0, 1)
    is_phone_verified.append(str(pv))

for _ in range(100):
    is_active.append(1)

for _ in range(100):
    is_active_trainer.append(1)

for _ in range(100):
    c = random.randint(0, 1)
    is_certified.append(str(c))

for _ in range(100):
    t = random.randint(0, 1)
    is_trainer.append(str(t))

for _ in range(100):
    ec = random.randint(0, 1)
    is_experience_completed.append(str(ec))

for _ in range(100):
    u = random.randint(0, 1)
    is_user.append(str(u))

for _ in range(100):
    tz = random.choice(pytz.all_timezones)
    time_zone.append(tz)

for _ in range(100):
    uap = random.randint(0, 1)
    user_in_app_purchase.append(str(uap))

for _ in range(100):
    tap = random.randint(0, 1)
    trainer_in_app_purchase.append(str(tap))

for _ in range(100):
    d = random.randint(0, 1)
    is_deleted.append(str(d))
    
for _ in range(100):
    ss = random.randint(0, 1)
    sub_status.append(str(ss))
    
for _ in range(100):
    unsub_reason.append(None)

for _ in range(100):
    stripe_customer_key.append(fake.md5())

for _ in range(100):
    stripe_account_id.append("acct_" + fake.md5())

for _ in range(100):
    d = random.randint(0, 1)
    is_dietitian.append(str(d))
    
for _ in range(100):
    op = random.randint(0, 1)
    is_online_plan.append(str(op))
    
for _ in range(100):
    facebook_id.append(None)
    
for _ in range(100):
    instagram_id.append(None)
    
for _ in range(100):
    google_account_id.append(None)
    
for _ in range(100):
    apple_account_id.append(None)
    
for _ in range(100):
    country_code.append(fake.country_code())
    
for _ in range(100):
    v = random.randint(0, 1)
    is_visible.append(str(v))
    
for _ in range(100):
    sf = random.randint(0, 1)
    is_subscription_free.append(str(sf))
    
for _ in range(100):
    cas = random.choice([True, False])
    connected_acc_status.append(str(cas))

for _ in range(100):
    firebase_auth_id.append(fake.uuid4())

for _ in range(100):
    afp = random.randint(0, 1)
    app_fee_per.append(str(afp))

for _ in range(100):
    latitude.append(fake.latitude())
    
for _ in range(100):
    longitude.append(fake.longitude())
    
for _ in range(100):
    date_time = fake.date()
    trainer_created_date.append(date_time)
    
for _ in range(100):
    ef = random.randint(0, 1)
    entry_in_freshwork.append(str(ef))

for _ in range(100):
    fi = random.randint(15000000000, 17000000000)
    freshwork_id.append(str(fi))

for _ in range(100):
    city.append(fake.city())
    
for _ in range(100):
    last_access_time.append(fake.date_time())
    
for _ in range(100):
    last_freshwork_updated.append(fake.date_time())

for _ in range(100):
    seo_abt_urself.append(None)

for _ in range(100):
    postal_code.append(fake.postcode())
    
for _ in range(100):
    slug.append(None)
    
for _ in range(100):
    total_transformed.append(None)
    
for _ in range(100):
    social_links.append(None)
    
for _ in range(100):
    created_on.append(fake.date_time())
    
for _ in range(100):
    updated_on.append(fake.date_time())
    
for _ in range(80):
    deleted_on.append(None)

for _ in range(20):
    deleted_on.append(fake.date_time())

In [48]:
Users_dictionary = {
    'id': ids,
    'trainer_code': trainer_code,
    'user_code': user_code,
    'full_name': full_name,
    'gender': gender,
    'birth_date': birth_date,
    'email_id': email_id,
    'phone_number': phone_number,
    'user_points': user_points,
    'password': password,
    'terms_and_conditions': terms_and_conditions,
    'user_height': user_height,
    'user_weight': user_weight,
    'target_weight': target_weight,
    'weight_changed_on': weight_changed_on,
    'height_changed_on': height_changed_on,
    'frequently_exercise': frequently_exercise,
    'food_mostly_eaten_at': food_mostly_eaten_at,
    'cuisine_ids': cuisine_ids,
    'spent_on_meal': spent_on_meal,
    'diet_plan': diet_plan,
    'default_diet_plan': default_diet_plan,
    'medical_condition_ids': medical_condition_ids,
    'allergic_condition_ids': allergic_condition_ids,
    'is_profile_completed': is_profile_completed,
    'profile_image': profile_image,
    'social_profile_image': social_profile_image,
    'user_location': user_location,
    'forgot_token': forgot_token,
    'forgot_token_checked_on': forgot_token_checked_on,
    'email_verified_token': email_verified_token,
    'trainer_email_verified_token': trainer_email_verified_token,
    'is_email_verified': is_email_verified,
    'is_trainer_email_verified': is_trainer_email_verified,
    'is_verified': is_verified,
    'is_phone_verified': is_phone_verified,
    'is_active': is_active,
    'is_active_trainer': is_active_trainer,
    'is_certified': is_certified,
    'is_trainer': is_trainer,
    'is_experience_completed': is_experience_completed,
    'is_user': is_user,
    'time_zone': time_zone,
    'user_in_app_purchase': user_in_app_purchase,
    'trainer_in_app_purchase': trainer_in_app_purchase,
    'is_deleted': is_deleted,
    'sub_status': sub_status,
    'unsub_reason': unsub_reason,
    'stripe_customer_key': stripe_customer_key,
    'stripe_account_id': stripe_account_id,
    'is_dietitian': is_dietitian,
    'is_online_plan': is_online_plan,
    'facebook_id': facebook_id,
    'instagram_id': instagram_id,
    'google_account_id': google_account_id,
    'apple_account_id': apple_account_id,
    'country_code': country_code,
    'is_visible': is_visible,
    'is_subscription_free': is_subscription_free,
    'connected_acc_status': connected_acc_status,
    'firebase_auth_id': firebase_auth_id,
    'app_fee_per': app_fee_per,
    'latitude': latitude,
    'longitude': longitude,
    'trainer_created_date': trainer_created_date,
    'entry_in_freshwork': entry_in_freshwork,
    'freshwork_id': freshwork_id,
    'city': city,
    'last_access_time': last_access_time,
    'last_freshwork_updated': last_freshwork_updated,
    'seo_abt_urself': seo_abt_urself,
    'postal_code': postal_code,
    'slug': slug,
    'total_transformed': total_transformed,
    'social_links': social_links,
    'created_on': created_on,
    'updated_on': updated_on,
    'deleted_on': deleted_on,
}

In [49]:
users_df = pd.DataFrame(Users_dictionary)

In [50]:
users_df.head()

,id,trainer_code,user_code,full_name,gender,birth_date,email_id,phone_number,user_points,password,...,last_access_time,last_freshwork_updated,seo_abt_urself,postal_code,slug,total_transformed,social_links,created_on,updated_on,deleted_on
0,0,T100000,U100000,Kristen Griffin,female,"(1992, 7, 10, 0, 0, 0, 4, 192, -1)",bcarter@example.com,(779)439-3153,20917,42552,...,1970-04-09 12:13:56,2020-03-26 19:00:01,None,45811,None,None,None,1978-01-31 19:14:24,1971-10-12 02:58:10,NaT
1,1,T100001,U100001,Alicia Bartlett,female,"(1988, 6, 23, 0, 0, 0, 3, 175, -1)",sarahmartin@example.org,(911)571-5402x8442,15276,89517,...,1989-01-15 21:11:37,2000-12-07 10:34:17,None,59332,None,None,None,1972-05-30 09:59:24,1990-09-19 21:41:43,NaT
2,2,T100002,U100002,Michelle Miller,female,"(2016, 2, 21, 0, 0, 0, 6, 52, -1)",apreston@example.net,001-429-784-1716x439,5613,13964,...,1998-04-09 21:00:09,1976-06-24 10:55:08,None,18859,None,None,None,2012-11-03 08:28:41,1973-05-12 12:01:21,NaT
3,3,T100003,U100003,Dr. Ashley Perez MD,female,"(1976, 5, 28, 0, 0, 0, 4, 149, -1)",phaynes@example.net,652.740.7017,21219,86405,...,2021-01-26 11:30:58,1976-09-20 08:05:28,None,38822,None,None,None,1992-05-10 14:23:06,2018-10-02 11:55:03,NaT
4,4,T100004,U100004,Tara Brown,female,"(1943, 6, 20, 0, 0, 0, 6, 171, -1)",rtrujillo@example.com,(678)701-1831x5756,20861,19916,...,2020-12-23 01:10:59,1985-02-05 16:05:36,None,02766,None,None,None,1974-02-02 08:18:21,1975-09-09 05:17:27,NaT

In [51]:
users_df.to_csv('datasets/Fake_datasets/hca_users.csv', index=False)