In [71]:
import pandas as pd

In [72]:
# Load Datasets
hca_users = pd.read_csv('datasets/Fake_datasets/hca_users.csv')
hca_food_items = pd.read_csv('datasets/Fake_datasets/hca_food_items.csv')
hca_recipes = pd.read_csv('datasets/Fake_datasets/hca_recipes.csv')
hca_food_logs = pd.read_csv('datasets/Fake_datasets/hca_food_logs.csv')
hc_google_fence = pd.read_csv('datasets/Fake_datasets/hca_google_fence.csv')

In [73]:
# print the shape
print("hca_users : "+str(hca_users.shape))
print("hca_food_items: "+str(hca_food_items.shape))
print("hca_recipes: "+str(hca_recipes.shape))
print("hca_food_logs: "+str(hca_food_logs.shape))
print("hc_google_fence: "+str(hc_google_fence.shape))

hca_users : (100, 78)
hca_food_items: (100, 19)
hca_recipes: (100, 21)
hca_food_logs: (100, 15)
hc_google_fence: (100, 9)

In [ ]:
hca_users_filtered_latlong=hca_users.rename(columns={"latitude":"home_latitude", "longitude": "home_longitude"})

In [74]:
hca_users_filtered =hca_users_filtered_latlong[["user_code","gender","birth_date","user_height","user_weight","target_weight","frequently_exercise","food_mostly_eaten_at","cuisine_ids","spent_on_meal","diet_plan","default_diet_plan","medical_condition_ids","allergic_condition_ids","time_zone","is_dietitian","home_latitude","home_longitude","last_access_time"]]
hca_food_items_filtered=hca_food_items[["fdc_id","item_name", "substitute_itemsids","substitute_recipeids","food_type","food_category"]]
hca_recipes_filtered=hca_recipes[["recipe_id","recipe_name","substitute_recipeids","substitute_itemsids","food_type","eqv"]]
hca_food_logs_filtered=hca_food_logs[["fl_id","log_date","item_id","food_time","log_time","energy","protein","carbohydrate","lipid_fat","item_unit","item_quantity","created_by","exceeded_calories","liked_substitute"]]
hc_google_fence_filtered=hc_google_fence[["id","restaurant_name","restaurant_id","latitude","longitude","visit_count","last_visit","fl_id"]]

In [75]:
hca_users_filtered_f=hca_users_filtered.rename(columns={"user_code":"user_id"})

In [76]:
hca_food_items_filtered_f=hca_food_items_filtered.rename(columns={"fdc_id":"item_id"})

In [77]:
hca_recipes_filtered_f=hca_recipes_filtered.rename(columns={"recipe_id":"item_id"})

In [78]:
hca_food_logs_filtered_f=hca_food_logs_filtered.rename(columns={"created_by":"user_id"})

In [79]:
#for column in hc_google_fence_filtered.columns:
#    print(column)

In [80]:
concat_food_and_recipes = pd.concat([hca_food_items_filtered_f, hca_recipes_filtered_f])
concat_food_and_recipes.head()

,item_id,item_name,substitute_itemsids,substitute_recipeids,food_type,food_category,recipe_name,eqv
0,FI100000,Pasta,SF100000,NaN,food_item,Ice Cream & Frozen Yogurt,NaN,NaN
1,FI100001,Sushi,SF100001,NaN,food_item,BBQ & Cheese Sauce,NaN,NaN
2,FI100002,Pasta,SF100002,NaN,food_item,Ice Cream & Frozen Yogurt,NaN,NaN
3,FI100003,Lasagna,SF100003,NaN,food_item,BBQ & Cheese Sauce,NaN,NaN
4,FI100004,Fruit Smoothie,SF100004,NaN,food_item,Ice Cream & Frozen Yogurt,NaN,NaN

In [81]:
concat_food_and_recipes.shape

(200, 8)

In [82]:
merged_users_and_food_log = pd.merge(hca_food_logs_filtered_f, hca_users_filtered_f, on="user_id")
merged_users_and_food_log.head()

,fl_id,log_date,item_id,food_time,log_time,energy,protein,carbohydrate,lipid_fat,item_unit,...,spent_on_meal,diet_plan,default_diet_plan,medical_condition_ids,allergic_condition_ids,time_zone,is_dietitian,latitude,longitude,last_access_time
0,LI100000,2024-01-04,RP100098,1564205964,6,296,34.41,10.57,8.96,ml,...,$5-$9.99,1,1657,1,1,Asia/Harbin,1,-81.133585,6.821363,1971-12-01 21:15:02
1,LI100026,2024-01-02,FI100074,736468850,13,191,35.03,20.09,28.71,1 medium,...,$5-$9.99,1,1657,1,1,Asia/Harbin,1,-81.133585,6.821363,1971-12-01 21:15:02
2,LI100084,2024-01-12,FI100044,1576608185,10,102,48.44,7.26,8.13,1 medium,...,$5-$9.99,1,1657,1,1,Asia/Harbin,1,-81.133585,6.821363,1971-12-01 21:15:02
3,LI100001,2024-01-23,RP100099,799825189,5,210,33.39,27.16,40.61,1 medium,...,$5-$9.99,2,609,1,3,Europe/Nicosia,1,-28.476477,-12.030992,1986-12-29 22:24:24
4,LI100002,2024-01-13,FI100052,1424205123,9,116,5.06,41.85,2.33,1 slice,...,Less than $5,1,1109,0,2,Arctic/Longyearbyen,1,83.445770,-77.093072,1979-01-12 23:38:38

In [83]:
merged_users_and_food_log.shape

(100, 32)

In [84]:
merged_users_and_food_log_with_food_and_recipe = pd.merge(merged_users_and_food_log, concat_food_and_recipes, on="item_id")
merged_users_and_food_log_with_food_and_recipe.head()

,fl_id,log_date,item_id,food_time,log_time,energy,protein,carbohydrate,lipid_fat,item_unit,...,latitude,longitude,last_access_time,item_name,substitute_itemsids,substitute_recipeids,food_type,food_category,recipe_name,eqv
0,LI100000,2024-01-04,RP100098,1564205964,6,296,34.41,10.57,8.96,ml,...,-81.133585,6.821363,1971-12-01 21:15:02,NaN,NaN,SR100098,recipe,NaN,Chicken Alfredo Pasta,450.0
1,LI100026,2024-01-02,FI100074,736468850,13,191,35.03,20.09,28.71,1 medium,...,-81.133585,6.821363,1971-12-01 21:15:02,Salad,SF100074,NaN,food_item,BBQ & Cheese Sauce,NaN,NaN
2,LI100086,2024-01-02,FI100074,505442401,2,144,27.31,22.07,25.12,gm,...,38.891363,40.080049,1995-12-22 02:52:20,Salad,SF100074,NaN,food_item,BBQ & Cheese Sauce,NaN,NaN
3,LI100084,2024-01-12,FI100044,1576608185,10,102,48.44,7.26,8.13,1 medium,...,-81.133585,6.821363,1971-12-01 21:15:02,Shrimp Scampi,SF100044,NaN,food_item,BBQ & Cheese Sauce,NaN,NaN
4,LI100088,2024-01-16,FI100044,1517827735,13,297,29.39,8.77,33.27,ml,...,49.380508,-59.878536,1982-07-04 09:15:00,Shrimp Scampi,SF100044,NaN,food_item,BBQ & Cheese Sauce,NaN,NaN

In [85]:
merged_users_and_food_log_with_food_and_recipe.shape

(99, 39)

In [86]:
merged_users_and_food_log_with_food_and_recipe_to_google_fence=pd.merge(hc_google_fence_filtered, merged_users_and_food_log_with_food_and_recipe, on="fl_id")
merged_users_and_food_log_with_food_and_recipe_to_google_fence.head()

,id,restaurant_name,restaurant_id,latitude_x,longitude_x,visit_count,last_visit,fl_id,log_date,item_id,...,latitude_y,longitude_y,last_access_time,item_name,substitute_itemsids,substitute_recipeids,food_type,food_category,recipe_name,eqv
0,0,Bell and Sons,64231f135831c26464f74d491d7c1acc,8.031036,-139.643394,1,1572561234,LI100092,2024-01-24,RP100030,...,75.533984,-177.743891,2002-04-28 06:24:30,NaN,NaN,SR100030,recipe,NaN,Margherita Pizza,180.0
1,44,"Bell, Martin and Wood",8fe6141cae2e941d8e3b3ceec6b93372,-11.071226,22.201936,7,1126603632,LI100092,2024-01-24,RP100030,...,75.533984,-177.743891,2002-04-28 06:24:30,NaN,NaN,SR100030,recipe,NaN,Margherita Pizza,180.0
2,1,Hernandez-Smith,11c33e88b4cc53cb673f636faf802ef9,3.337096,77.851111,6,806975064,LI100028,2024-01-14,RP100076,...,81.070773,0.804290,2003-03-16 19:41:51,NaN,NaN,SR100076,recipe,NaN,Grilled Salmon with Lemon,285.0
3,2,"Reid, Lowe and Manning",854ff1d2e113abaa0fb47fd006fedd41,-50.488884,-3.017812,8,903569099,LI100096,2024-01-15,RP100000,...,-7.025633,-3.897872,1991-01-29 03:15:45,NaN,NaN,SR100000,recipe,NaN,Beef Tacos,313.0
4,56,"Mills, Brooks and Joseph",499fd28def19b9ecca5fc3899fdfe0cb,13.749967,84.009547,9,1621545232,LI100096,2024-01-15,RP100000,...,-7.025633,-3.897872,1991-01-29 03:15:45,NaN,NaN,SR100000,recipe,NaN,Beef Tacos,313.0

In [87]:
merged_users_and_food_log_with_food_and_recipe_to_google_fence.shape

(99, 46)

In [88]:
merged_users_and_food_log_with_food_and_recipe_to_google_fence.to_csv('datasets/Fake_datasets/hca_all_merged_dataset.csv', index=False)