In [ ]:
## Data

In [1]:
import pandas as pd

In [12]:
# Load Datasets
hca_users = pd.read_csv('datasets/Fake_datasets/filtered/hca_food_logs.csv')
hca_food_items = pd.read_csv('datasets/Fake_datasets/filtered/hca_food_items.csv')
hca_recipes = pd.read_csv('datasets/Fake_datasets/filtered/hca_recipes.csv')
hca_food_logs = pd.read_csv('datasets/Fake_datasets/filtered/hca_food_logs.csv')

In [13]:
hca_food_logs.head(5)

,Unnamed: 0.1,Unnamed: 0,log_date,item_id,food_time,food_type,log_time,energy,protein,carbohydrate,lipid_fat,item_unit,item_quantity,created_by
0,0,0,2024-01-10,RP100015,1,recipe,12,251,15.75,3.84,10.87,gm,136,U100015
1,1,1,2024-01-04,RP100054,1,recipe,5,126,23.35,11.38,12.97,1 slice,61,U100068
2,2,2,2024-01-16,FI100039,1,food_item,6,195,4.20,46.50,35.44,1 medium,196,U100031
3,3,3,2024-01-14,RP100088,1,recipe,13,204,16.24,40.59,15.51,1 medium,197,U100026
4,4,4,2024-01-11,RP100008,1,recipe,11,191,33.74,30.29,23.39,1 slice,143,U100067

In [14]:
hca_food_logs.drop(hca_food_logs.columns[0:2], axis=1, inplace=True)
hca_food_logs.head()

,log_date,item_id,food_time,food_type,log_time,energy,protein,carbohydrate,lipid_fat,item_unit,item_quantity,created_by
0,2024-01-10,RP100015,1,recipe,12,251,15.75,3.84,10.87,gm,136,U100015
1,2024-01-04,RP100054,1,recipe,5,126,23.35,11.38,12.97,1 slice,61,U100068
2,2024-01-16,FI100039,1,food_item,6,195,4.20,46.50,35.44,1 medium,196,U100031
3,2024-01-14,RP100088,1,recipe,13,204,16.24,40.59,15.51,1 medium,197,U100026
4,2024-01-11,RP100008,1,recipe,11,191,33.74,30.29,23.39,1 slice,143,U100067

In [15]:
hca_users.head()

,Unnamed: 0.1,Unnamed: 0,log_date,item_id,food_time,food_type,log_time,energy,protein,carbohydrate,lipid_fat,item_unit,item_quantity,created_by
0,0,0,2024-01-10,RP100015,1,recipe,12,251,15.75,3.84,10.87,gm,136,U100015
1,1,1,2024-01-04,RP100054,1,recipe,5,126,23.35,11.38,12.97,1 slice,61,U100068
2,2,2,2024-01-16,FI100039,1,food_item,6,195,4.20,46.50,35.44,1 medium,196,U100031
3,3,3,2024-01-14,RP100088,1,recipe,13,204,16.24,40.59,15.51,1 medium,197,U100026
4,4,4,2024-01-11,RP100008,1,recipe,11,191,33.74,30.29,23.39,1 slice,143,U100067