In [1]:
from faker import Faker
import pandas as pd
import numpy as np
import random
import datetime
import time
import uuid
import pytz

In [2]:
trainer_code =[]
user_code=[]
full_name=[]
gender=[]
birth_date=[]
email_id=[]
phone_number=[]
user_point=[]
password=[]
terms_and_conditions=[]
user_height=[]
user_weight=[]
target_weight=[]
weight_changed_on=[]
height_changed_on=[]
frequently_exercise=[]
food_mostly_eaten_at=[]
cuisine_ids=[]
spent_on_meal=[]
diet_plan=[]
default_diet_plan=[]
medical_condition_ids=[]
allergic_condition_ids=[]
is_profile_completed=[]
profile_image=[]
social_profile_image=[]
user_location=[]
is_active=[]

In [3]:
fake = Faker()

In [4]:
for i in range(100000,100100):
    trainer_code.append("T"+str(i))

for i in range(100000,100100):
    user_code.append("U"+str(i))

for _ in range(60):
    full_name.append(fake.name_female())
    gender.append("female")

for _ in range(40):
    full_name.append(fake.name_male())
    gender.append("male")

for _ in range(100):
    date_time_dob = fake.date_of_birth().timetuple()
    birth_date.append(date_time_dob)

for _ in range(100):
    email_id.append(fake.email())

for _ in range(100):
    phone_number.append(fake.phone_number())

for _ in range(100):
    point = random.randint(0, 25000)
    user_point.append(str(point))

for _ in range(100):
    pw = random.randint(10000, 99000)
    password.append(str(pw))

for _ in range(100):
    terms = random.randint(0, 1)
    terms_and_conditions.append(str(terms))

for _ in range(100):
    height = random.randint(60, 73)
    user_height.append(str(height))

for _ in range(100):
    weight = random.randint(40, 150)
    user_weight.append(str(weight))

for _ in range(100):
    weight = random.randint(50, 120)
    target_weight.append(str(weight))

for i in range(1000000,1000100):
    hc = random.choice([str(i), '0'])
    height_changed_on.append(hc)

for i in range(1000000,1000100):
    wc = random.choice([str(i), '0'])
    weight_changed_on.append(wc)

for _ in range(100):
    fe = random.choice(["do_not", "1_3_days"])
    frequently_exercise.append(fe)

for _ in range(100):
    location = random.choice(["home", "restaurant"])
    food_mostly_eaten_at.append(location)

for _ in range(100):
    ci = random.randint(10, 500)
    cuisine_ids.append(str(ci))

for _ in range(100):
    meal = random.choice(["$5-$9.99", "Less than $5"])
    spent_on_meal.append(meal)

for _ in range(100):
    d_plan = random.randint(1, 4)
    diet_plan.append(str(d_plan))

for _ in range(100):
    dd_plan = random.randint(0, 1800)
    default_diet_plan.append(str(dd_plan))

for _ in range(100):
    mci = random.choice(["1", "0"])
    medical_condition_ids.append(mci)

for _ in range(100):
    aci = random.randint(1, 3)
    allergic_condition_ids.append(aci)

for _ in range(100):
    comp = random.randint(0, 1)
    is_profile_completed.append(str(comp))

for _ in range(100):
    profile_image.append(fake.image_url())

for _ in range(100):
    social_profile_image.append(fake.image_url())

for _ in range(100):
    time_zone = random.choice(pytz.all_timezones)
    user_location.append(time_zone)

for _ in range(100):
  is_active.append(1)

In [5]:
Users_dictionary = {
    'trainer_code': trainer_code,
    'user_code': user_code,
    'full_name': full_name,
    'gender': gender,
    'birth_date': birth_date,
    'email_id': email_id,
    'phone_number': phone_number,
    'user_point': user_point,
    'password': password,
    'terms_and_conditions': terms_and_conditions,
    'user_height': user_height,
    'user_weight': user_weight,
    'target_weight': target_weight,
    'weight_changed_on': weight_changed_on,
    'height_changed_on': height_changed_on,
    'frequently_exercise': frequently_exercise,
    'food_mostly_eaten_at': food_mostly_eaten_at,
    'cuisine_ids': cuisine_ids,
    'spent_on_meal': spent_on_meal,
    'diet_plan': diet_plan,
    'default_diet_plan': default_diet_plan,
    'medical_condition_ids': medical_condition_ids,
    'allergic_condition_ids': allergic_condition_ids,
    'is_profile_completed': is_profile_completed,
    'profile_image': profile_image,
    'social_profile_image': social_profile_image,
    'user_location': user_location,
    'is_active': is_active,
}

In [6]:
users_df = pd.DataFrame(Users_dictionary)

In [7]:
users_df.head()

,trainer_code,user_code,full_name,gender,birth_date,email_id,phone_number,user_point,password,terms_and_conditions,...,spent_on_meal,diet_plan,default_diet_plan,medical_condition_ids,allergic_condition_ids,is_profile_completed,profile_image,social_profile_image,user_location,is_active
0,T100000,U100000,Hayley Turner,female,"(1959, 12, 3, 0, 0, 0, 3, 337, -1)",wwatson@example.org,001-058-575-6657,894,11749,0,...,$5-$9.99,1,1429,0,1,1,https://placekitten.com/627/33,https://placekitten.com/971/948,Japan,1
1,T100001,U100001,Denise Clark,female,"(1939, 11, 16, 0, 0, 0, 3, 320, -1)",matthew49@example.com,7135512092,3951,63243,0,...,Less than $5,4,604,0,2,1,https://picsum.photos/746/333,https://placekitten.com/549/605,America/Vancouver,1
2,T100002,U100002,Alyssa Martinez,female,"(2002, 5, 11, 0, 0, 0, 5, 131, -1)",johnsonjason@example.org,001-221-234-3487x653,10869,93008,1,...,Less than $5,3,297,1,2,1,https://picsum.photos/82/837,https://placekitten.com/429/723,America/Argentina/Mendoza,1
3,T100003,U100003,Deanna Ewing,female,"(1942, 6, 10, 0, 0, 0, 2, 161, -1)",ryanmyers@example.org,768.942.4767,20547,47387,0,...,$5-$9.99,2,881,0,3,0,https://placekitten.com/657/740,https://picsum.photos/779/431,Asia/Brunei,1
4,T100004,U100004,Angela Flynn,female,"(1969, 5, 8, 0, 0, 0, 3, 128, -1)",coxeduardo@example.net,+1-035-830-6048,10246,58097,1,...,Less than $5,2,1605,1,1,0,https://dummyimage.com/964x1018,https://picsum.photos/576/133,America/Chicago,1

In [8]:
users_df.to_csv('datasets/Fake_datasets/hca_users.csv')