In [14]:
from faker import Faker
import pandas as pd
import numpy as np
import random
import datetime
import time
import uuid
import pytz

In [15]:
# Print Column Names
hca_google_fence = pd.read_csv('datasets/hca_google_fence.csv')
for column in hca_google_fence.columns:
    print(column)

id
restaurant_name
restaurant_id
user_id
latitude
longitude
visit_count
last_visit

In [16]:
ids=[]
restaurant_name=[]
restaurant_id=[]
user_id=[]
latitude=[]
longitude=[]
visit_count=[]
last_visit=[]
food_log_id=[]

In [17]:
fake = Faker()
len(ids)

0

In [18]:
for i in range(100):
    ids.append(str(i))

for i in range(100):
    restaurant_name.append(fake.company())

for i in range(100):
    restaurant_id.append(fake.md5())

for _ in range(100):
    uid = random.choice(['U100000', 'U100001', 'U100002', 'U100003', 'U100004', 'U100005', 'U100006', 'U100007', 'U100008', 'U100009', 'U100010', 'U100011', 'U100012', 'U100013', 'U100014', 'U100015', 'U100016', 'U100017', 'U100018', 'U100019', 'U100020', 'U100021', 'U100022', 'U100023', 'U100024', 'U100025', 'U100026', 'U100027', 'U100028', 'U100029', 'U100030', 'U100031', 'U100032', 'U100033', 'U100034', 'U100035', 'U100036', 'U100037', 'U100038', 'U100039', 'U100040', 'U100041', 'U100042', 'U100043', 'U100044', 'U100045', 'U100046', 'U100047', 'U100048', 'U100049', 'U100050', 'U100051', 'U100052', 'U100053', 'U100054', 'U100055', 'U100056', 'U100057', 'U100058', 'U100059', 'U100060', 'U100061', 'U100062', 'U100063', 'U100064', 'U100065', 'U100066', 'U100067', 'U100068', 'U100069', 'U100070', 'U100071', 'U100072', 'U100073', 'U100074', 'U100075', 'U100076', 'U100077', 'U100078', 'U100079', 'U100080', 'U100081', 'U100082', 'U100083', 'U100084', 'U100085', 'U100086', 'U100087', 'U100088'])
    user_id.append(uid)

for _ in range(100):
    latitude.append(fake.latitude())
    
for _ in range(100):
    longitude.append(fake.longitude())

for i in range(100):
    vc = random.randint(1, 10)
    visit_count.append(vc)

for i in range(100):
    last_visit.append(fake.unix_time())
    
for i in range(100):
     flid = random.choice(['LI100000', 'LI100001', 'LI100002', 'LI100003', 'LI100004', 'LI100005', 'LI100006', 'LI100007', 'LI100008', 'LI100009', 'LI100010', 'LI100011', 'LI100012', 'LI100013', 'LI100014', 'LI100015', 'LI100016', 'LI100017', 'LI100018', 'LI100019', 'LI100020', 'LI100021', 'LI100022', 'LI100023', 'LI100024', 'LI100025', 'LI100026', 'LI100027', 'LI100028', 'LI100029', 'LI100030', 'LI100031', 'LI100032', 'LI100033', 'LI100034', 'LI100035', 'LI100036', 'LI100037', 'LI100038', 'LI100039', 'LI100040', 'LI100041', 'LI100042', 'LI100043', 'LI100044', 'LI100045', 'LI100046', 'LI100047', 'LI100048', 'LI100049', 'LI100050', 'LI100051', 'LI100052', 'LI100053', 'LI100054', 'LI100055', 'LI100056', 'LI100057', 'LI100058', 'LI100059', 'LI100060', 'LI100061', 'LI100062', 'LI100063', 'LI100064', 'LI100065', 'LI100066', 'LI100067', 'LI100068', 'LI100069', 'LI100070', 'LI100071', 'LI100072', 'LI100073', 'LI100074', 'LI100075', 'LI100076', 'LI100077', 'LI100078', 'LI100079', 'LI100080', 'LI100081', 'LI100082', 'LI100083', 'LI100084', 'LI100085', 'LI100086', 'LI100087', 'LI100088', 'LI100089', 'LI100090', 'LI100091', 'LI100092', 'LI100093', 'LI100094', 'LI100095', 'LI100096', 'LI100097', 'LI100098', 'LI100099'])
     food_log_id.append(flid)

In [19]:
Restaurants_dictionary = {
    'id': ids,
    'food_log_id':food_log_id,
    'restaurant_name': restaurant_name,
    'restaurant_id': restaurant_id,
    'user_id': user_id,
    'latitude': latitude,
    'longitude': longitude,
    'visit_count': visit_count,
    'last_visit': last_visit,
}

In [20]:
restaurants_df = pd.DataFrame(Restaurants_dictionary)

In [21]:
restaurants_df.head()

,id,food_log_id,restaurant_name,restaurant_id,user_id,latitude,longitude,visit_count,last_visit
0,0,LI100092,"Valentine, Martin and Davis",05d71cea61209b03b7772d99362cf885,U100038,-22.8493775,-78.999205,8,1024640941
1,1,LI100028,Pittman-Williams,c88109fa7a9ec968cf32d719a573b9c5,U100054,-45.2144095,-153.771485,9,781001407
2,2,LI100096,Moore PLC,35f5e38f6bc3dc3031d869ef7d92f955,U100047,-4.5234715,-36.818247,5,18911092
3,3,LI100024,Robertson PLC,81b82a97a5123c90880a6f2f92bc4b92,U100002,-28.5993925,-13.359930,3,809249678
4,4,LI100006,"Fernandez, Decker and Shelton",a24b5fd4461338b5b5e6c38709b43539,U100050,37.6055365,-152.266539,7,965117113

In [22]:
restaurants_df.to_csv('datasets/Fake_datasets/hca_google_fence.csv', index=False)